<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs') %>   
<body>
    <%-include('./partials/nav.ejs') %>   

<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum veritatis possimus corrupti praesentium ipsum nostrum laudantium aperiam? Excepturi, modi vel? Excepturi quisquam debitis maxime accusamus itaque aliquid tempore nisi ab.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum veritatis possimus corrupti praesentium ipsum nostrum laudantium aperiam? Excepturi, modi vel? Excepturi quisquam debitis maxime accusamus itaque aliquid tempore nisi ab.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum veritatis possimus corrupti praesentium ipsum nostrum laudantium aperiam? Excepturi, modi vel? Excepturi quisquam debitis maxime accusamus itaque aliquid tempore nisi ab.</p>
</div>
<%-include('./partials/footer.ejs') %>   
</body>
</html>